@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font definitions */
@font-face {
  font-family: "Triodion";
  src: url("/fonts/Triodion-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Base styles */
@layer base {
  body {
    @apply font-triodion;
    @apply bg-black;
    @apply text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-triodion font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl mt-8;
  }

  p {
    @apply text-lg mt-1 text-gray-200;
  }

  blockquote {
    @apply border-l-4 font-mono border-gray-300 pl-4 mt-4;
  }
}

/* Component styles */
@layer components {

  /* Link styles */
  .link {
    @apply lowercase font-inter underline decoration-dotted hover:border-solid transition-all duration-100;
  }

  /* Button styles */
  .btn {
    @apply font-inter font-medium transition-colors duration-100;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
  }

  /* Descriptive text */
  .text-description {
    @apply text-gray-100 font-triodion;
  }

  .volume-slider {
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    transform: translateY(100%);
    opacity: 0;
    height: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 10;
  }

  .volume-slider.expanded {
    transform: translateY(0);
    opacity: 1;
    height: 40px;
  }

  /* Candle */
  .candle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }

  .candle {
    width: 60px;
    height: 200px;
    background-color: #911d26;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
  }

  .flame {
    position: absolute;
    bottom: 20px;
    left: -140px;
    width: 360px;
    height: 380px;
    background: radial-gradient(circle, rgba(255, 241, 163, 0.8) 20%, rgba(255, 179, 0, 0) 70%);
    border-radius: 50%;
    animation: flicker 1s infinite alternate ease-in-out;
  }

  @keyframes flicker {
    0% {
      opacity: 0.4;
    }

    80% {
      opacity: 0.3;
    }

    100% {
      opacity: 0.5;
    }
  }

}