@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font definitions */
@font-face {
  font-family: "Triodion";
  src: url("/fonts/Triodion-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Base styles */
@layer base {
  body {
    @apply font-triodion;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-triodion font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl mt-8;
  }

  p {
    @apply text-lg mt-1 text-gray-200;
  }

  blockquote {
    @apply border-l-4 font-mono border-gray-300 pl-4 mt-4;
  }
}

/* Component styles */
@layer components {
  /* Link styles */
  .link {
    @apply lowercase font-inter underline decoration-dotted hover:border-solid
      transition-all duration-100;
  }

  /* Button styles */
  .btn {
    @apply font-triodion font-bold text-2xl transition-colors duration-100;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
  }

  /* Descriptive text */
  .text-description {
    @apply text-gray-100 font-triodion;
  }
}
